<section class="edit-wrapper">
  <div class="container">
  <h1 class="edit-top">アカウント編集</h1>

  <%= form_tag("/user/#{@user.id}/update", {multipart: true}) do %>
    <div class="form">
      <p class="name inp">名前</p>
      <input name="name" <%= value="#{@user.name}" %> >
      <p class="email inp">メールアドレス</p>
      <input  name="email" <%= value="#{@user.email}" %>>
      <p class="introduce inp">自己紹介</p>
      <textarea name="introduce" rows="5" cols="50" placeholder="自己紹介を書こう">
      </textarea>
      <p class="form-image">画像</p>
      <input name="image" type="file">
      <br>
      <input  name="button" type="submit" value="送信">
    </div>
    <% end %>
  </div>

</section>